* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
    text-decoration: none;
}
a.nav-texto {
    color: blueviolet;
}
a.nav-comprar {
    color: green;
}
img.img-header {
    width: 25%;
    height: 25%;
}

img.img-body {
    width: 100%;
    height: 500px;
}