body {
    background-color : #006600;    
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
    text-decoration: none;
}
a.nav-texto {
    color: blueviolet;
}
a.nav-comprar {
    color: green;
}
img.img-header {
    width: 25%;
    height: 25%;
}

img.img-body {
    width: auto;
    height: 200px;
}